numpy~=1.19.2
crema~=0.2.0
librosa>=0.5
tensorflow==2.4.1
keras==2.3.1
scipy~=1.9.1
h5py~=2.10.0
jams~=0.3.4
setuptools~=61.2.0
tqdm~=4.64.1
joblib~=1.1.0
six~=1.15.0
pandas~=1.4.4
scikit-learn~=1.1.2
pumpp~=0.6.0
pychord~=1.2.1